<div id="mainContent" ng-controller="CallCtrl">
	<h1>Calls</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="well">
				<ul class="list-group">
					<li class="list-group-item">
						Floor: {{tools.siteSettings('floorAgent').agent.firstName}} 
						<button type="button" class="btn btn-info btn-xs pull-right" ng-click="tools.takeFloor()">Take</button>
					</li>
					<!-- <li class="list-group-item" ng-click="tools.call()">Place A Call</li> -->
					<!-- <li class="list-group-item"><a target="_new" href="https://www.hellofax.com/fax">Fax: 1928-366-5978</a></li> -->
					<!-- <li class="list-group-item">Do Not Disturb</li> -->
				</ul>
			</div>
		</div>
		<div class="col-md-3">
			<div class="well">
				<ul class="list-group">
					<li class="list-group-item {{call.status}}" title="{{tools.time(call)}}" 
					ng-repeat="call in calls | orderBy:'updatedAt':true" ng-click="tools.focus(call)">
						<span>{{tools.display(call)}}</span>
						<span ng-show="rootTools.user.is('Admin')"> -&gt; {{call.agent.firstName}}</span>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well" ng-show="temp.call">
				<h1 title="To: {{temp.call.agent.firstName}} -- Specified: {{!temp.call.fromFloor}}">Call From: {{temp.call.from}}</h1>
				<h2>Made: {{tools.time(temp.call)}}</h2>
				<p>CID: {{temp.call.params.CallerName}}</p>
				<p ng-show="temp.call.duration">Duration: {{temp.call.params.CallDuration}} seconds</p>
				<div ng-show="!temp.call.duration">
					<h2>Forward Call</h2>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="entry in directory" 
							ng-click="tools.redirect(temp.call, entry.agent)">
							<span>{{entry.agent.firstName}}</span>
							<i class="fa fa-check pull-right" ng-show="temp.call.agent.objectId == entry.agent.objectId"></i>
						</li>
					</ul>
				</div>
				<hr>
				<form action="" method="POST" class="form-horizontal clearfix" role="form" ng-submit="tools.client.add(temp.client)">
					<div class="form-group">
						<label for="callerName" class="col-sm-2 control-label">Caller Name</label>
						<div class="col-sm-10">
							<input type="text" name="" id="callerName" class="form-control" ng-model="temp.client.name">
						</div>
					</div>
					<div class="form-group">
						<label for="mlsFile" class="col-sm-2 control-label">MLS File</label>
						<div class="col-sm-10">
							<input type="text" name="" id="mlsFile" class="form-control" ng-model="temp.client.mls">
							<a class="btn btn-success btn-block" target="_new" href="http://members.flexmls.com/cgi-bin/mainmenu.cgi?cmd=url+brokerload/changelisting/step1a.html&comingfrom=searchresults&prefix=00&list_nbr={{temp.client.mls}}&newbgcolor=undefined" title="Open MLS File" ng-show="temp.client.mls">MLS File: {{temp.client.mls}}</a>
						</div>
					</div>
			<!-- 		<button type="button" class="btn btn-success" ng-click="tools.call(temp.call.from)" ng-show="temp.call.direction=='inbound'">Call Client</button>
					<button type="button" class="btn btn-success" ng-click="tools.call(temp.call.to)" ng-show="temp.call.direction=='outbound'">Call Client</button> -->
					<button type="submit" class="btn btn-primary pull-right">Save</button>
				</form>
				<hr>
				<div ng-show="temp.client.objectId">
					<form action="" method="POST" class="form-horizontal clearfix" role="form" ng-submit="tools.saveNote(temp.note)">
						<div class="form-group">
							<label for="noteInput" class="col-sm-2 control-label">Notes</label>
							<div class="col-sm-10">
								<textarea class="form-control" id="noteInput" placeholder="Notes" ng-model="temp.note"></textarea>
							</div>
						</div>
						<button type="submit" class="btn btn-primary pull-right">Add Note</button>
					</form>
					<hr>
					<div ng-repeat="note in temp.clientNotes">
						<button type="button" class="close" ng-click="tools.deleteNote(note)" title="Delete Note">
							<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
						</button>
						<p>{{note.text}}</p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>